@tailwind base;
@tailwind components;
@tailwind utilities;


/* Pre-set */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global Variables */
:root{
    --base-text-clr:black;
    --base-text-clr-opp:white;
    --background-Header:white;
    --background:white;
    --backgroun-button0:#ff008a;
    --half-backgorund:#f9e2ef;
    --other-half-background:#203066;
    /* box showdow color */
    --showdow-box:0 2px 24px 0 rgba(151, 151, 151, 0.15);
}   


/* darkMode Theme */
.darkmode{
    --base-text-clr:white;
    --base-text-clr-opp:black;
    --background-Header:#232a3a;
    --background:#181c28;
    --backgroun-button0:rebeccapurple;
    --half-backgorund:#666264;
    --other-half-background:#2c3550;



    /* box showdow color*/
    --showdow-box:0 2px 24px 0 rgba(40, 40, 53, 0.15);
}

/* Animation */
/* Keyframes */
@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100%{
        opacity: 1;
        transform: rotateY(0px) scale(1);
    }
}
@keyframes fade-down {
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: rotateY(0px) scale(1);
    }
}
/* $$ */


/* Header */

.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
    background-color: var(--background-Header);
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
/* HamBurger Icon */
.HamBurgerIcon{
    z-index: 1;
}
.HamLabal{
    display:flex;
    flex-direction:column;
    width:30px;
    cursor:pointer;
    margin: 1.5em;
    justify-items: center;   
   }
   
   .HamLabal span{
    background: var(--base-text-clr);
    border-radius:50px;
    height:3px;
    margin: 7% 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
   
   }
   
   span:nth-of-type(1){
     width:50%;
     
   }
   span:nth-of-type(2){
     width:100%;
   }
   
   
   span:nth-of-type(3){
     width:75%;
    
   }
   .HamBurgerIcon{
    display: none;
   }
   
   .HamCheckbox[ type="checkbox"]{
     display:none;
   }
   
   
   .HamCheckbox[type="checkbox"]:checked ~ span:nth-of-type(1){
     transform-origin:bottom;
     transform:rotatez(45deg) translate(4px,0px)
   }
   
   
   .HamCheckbox[type="checkbox"]:checked ~ span:nth-of-type(2){
     
     transform-origin:top;
     transform:rotatez(-45deg)
   }
   
   
   .HamCheckbox[type="checkbox"]:checked ~ span:nth-of-type(3){
     
     transform-origin:bottom;
     width:50%;
     transform: translate(14px,-2px) rotatez(45deg);
   
   }
   .HamBurgerIcon {
    display: none;
   }

/* $$ */

/* FrontPage */


.FrontContainer{
    background: linear-gradient(120deg, var(--half-backgorund) 50%, var(--other-half-background) 50%);   
}

  

.CircleContent{
   
    margin-top: 0rem;

}



/* $$ */
 

/* Icon */
/* Light Theme Icon (sun) */
.gg-sun {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 24px;
    height: 24px;
    background:
      linear-gradient(to bottom,
          currentColor 4px,transparent 0)
          no-repeat 5px -6px/2px 6px,
      linear-gradient(to bottom,
          currentColor 4px,transparent 0)
          no-repeat 5px 14px/2px 6px,
      linear-gradient(to bottom,
          currentColor 4px,transparent 0)
          no-repeat -8px 5px/6px 2px,
      linear-gradient(to bottom,
          currentColor 4px,transparent 0)
          no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent
  }
  .gg-sun::after,
  .gg-sun::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px
  }
  .gg-sun::before {
    transform: rotate(-45deg)
  }
  .gg-sun::after {
    transform: rotate(45deg)
  }
  /* $$ */


.ThemeIcons :hover{
    transition: all 1s ease-in-out 0s;
    transform: rotate(230deg);
}


/* Moon Icon */
.gg-moon,
.gg-moon::after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%
}
.gg-moon {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom-color: transparent;
}
.gg-moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px
}
.ThemeIcons{
    cursor: pointer;
}
/* Featured Content */




.FeaturedBoxes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 25vh;
    border-radius: 10px;
    background-color: var(--background);
    box-shadow: var(--showdow-box);
    border:1px solid rgb(219, 217, 217);
}

/* ## */


/* Featured Content */


/* $$ */

/* Wokr Content */

/* $$ */

/* Featured Content */
.ProvidersContainer{
    width: 100%;
    height: 100vh;
}
.ProvidersContent{
    display: flex;
    margin: 6rem;
    flex-direction: column;
    gap: 10rem;
}
.ProvidersText{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.ProvidersText h1{
    font-size: 3.5rem;
    color: #203066;
}
.ProvidersBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}
.boximg{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ProvidersBoxes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 25vh;
    border-radius: 10px;
    background-color: var(--background);
    box-shadow: var(--showdow-box);
    border:1px solid rgb(219, 217, 217);
}

/* ## */


/* ## */

/* Download */

.DownloadContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.DownloadContent{
    display: flex;
    width: 85%;
    height: 80vh;
    background-color: #f8fcfd;
    border: none;
    border-radius: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.DownloadBox{
    width: 58%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.DownloadTextAndButton{
    width: 55%;
    height: 80vh;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}
.DownloadTextAndButton h1{
    font-size: 3rem;
}
.DownloadTextAndButton p{
    margin-top: 2rem;
}
.DownloadTAndBIMg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.DownloadPhoneIMG{
    width: 50%;
    height: 80vh;
    border-radius: 50px;
    background-color: var(--backgroun-button0);
    display:flex;
    justify-content: center;
    align-items: end;
}
.DownloadTAndBIMg2{
    display: flex;
    height: 15vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.TopContainer{
    width: 100%;
    height: 100vh;
}
.TopContent{
    display: flex;
    margin: 6rem;
    flex-direction: column;
    gap: 10rem;
}
.TopText{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.TopText h1{
    font-size: 3.5rem;
    color: #203066;
}
.TopsBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}
.TopBoexe{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 25vh;
    border-radius: 10px;
    background-color: var(--background);
    box-shadow: var(--showdow-box);
    border:1px solid rgb(219, 217, 217);
}

/* ## */





/* only for Time-Time */
@media screen and (max-width: 1100px) {

     /* Header */
.HeadersText{
    display: none;
}
.RegisterAndLogin{
    display: none;
}
.HamBurgerIcon{
    display: flex;
}
#HeadingFront h3{
    font-size: 1rem;
}
#HeadingFront h1{
    font-size: 3rem;
}
#HeadingFront h2{
    font-size: 2.5rem;
}
.CircleContent{
    width: 90%;
    height: 85%;
    margin-top:1rem ;
}
.CircularImage{
    width: 30%;
    height: 50%;
}

.PlanPricingBoxs{
    width: 100%;
    height: 120vh;
    display: flex;
    margin-top:35rem;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
}
.PlanPricingBox{
    width: 80%;
}
.DownloadContainer{
    margin-top: 65rem;

}
.DownloadContent{
    width: 95%;

}
.PhoneING{
    width: 90%;
    height: 59vh;
}

.FeatureContent{
    margin-top: 10rem;
}
.PartnersContainer{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
}
.PartnersContent{
    width: 70%;
    height: 50vh;
   
}

.PartnerBox{
    width: 20%;
    height: 10vh;
    
}
.PartnersIMGs{
    width: 100%;
}
.PlaneIMg{
    margin-top: 0rem;
}


.PlanLastBTN2{
    margin-top: 0rem;
}
.PlanLastBTN{
    margin-top: -0.5rem;
}
/* $$ */
   
  }
  
  
  
  
@media screen and (max-width:790px){

/* $$ */
 
.HeadersText{
    display: none;
}
.FrontSearchBar{
    display: none;
}
.RegisterAndLogin{
    display: none;
}
.HamBurgerIcon{
    display: flex;
}
#HeadingFront h3{
    font-size: 1rem;
}
#HeadingFront h1{
    font-size: 3rem;
}
#HeadingFront h2{
    font-size: 2.5rem;
}
.CircleContent{
    width: 90%;
    height: 85%;
    margin-top:1rem ;
}
.CircularImage{
    width: 30%;
    height: 50%;
}

.FrontPage{
    height: 110vh;
}
.FrontContainer{
    height: 110vh;
}
.FeatureContent{
    margin-top: 10rem;
}
.FeaturedBox{
    display: flex;
    flex-wrap: wrap;
}
.FeaturedBoxes{
    width: 90%;
}
.FrontTextcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.TextsAndButton{
    width: 90%;
}
.FrontContent{
    display: flex;
    flex-direction: column;
}
.FeatureContent{
    margin-top: 10rem;
}
.PlanPricingBoxs{
    width: 100%;
    height: 120vh;
    display: flex;
    margin-top:35rem;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
}
.PlanPricingBox{
    width: 80%;
}
.PlanContent{
    margin-top: 20rem;
}
.DownloadContainer{
    margin-top: 65rem;

}
.DownloadContent{
    width: 95%;

}
.PhoneING{
    width: 90%;
    height: 59vh;
}
.PartnersContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.PartnersContent{
    width: 70%;
    height: 100vh;
    margin-top: 20rem;
   
}

.PartnerBox{
    width: 60%;
    height: 10vh;
    
}
.PartnersIMGs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.PartnersIMGs{
    width: 100%;
}
 
.TextsAndButton{  
     gap: 0rem;
 }
 .TextsAndButton button{
     padding: 0.6rem 1.9rem;
     border: none;
     border-radius: 30px;
     background-color: #f4f4f7;
     transition: all 100ms ease-in 0s;
     color: var(--base-text-clr);
 }

 .FooterContainer{
    width: 100%;
    display: flex;
    height: 240vh;
    margin-top: 30rem;
    background-color: #252525;
}
.FooterContent{
    width: 100%;
    flex-direction: column;
    height: 240vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MainContent{
   
    height: 150vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

}

.AllRight{
    margin-top: 35rem;
}


.ServicesContainer{
    height: 150vh;
}
.ServiceContent{
    height: 150vh;
    margin-top: 45rem;
    gap: 2rem;
}
.ServiresBox{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.ServiesBoxes{
    width: 80%;
    height: 40vh;
}
.WorksContent{
    margin-top: 25rem;
}
.WorksBox{
    flex-wrap: wrap;
}
.WorksBoxes{
    width: 70%;
    height: 30vh;
}
.TopContainer{
    margin-top: 30rem;
}
.TopsBox{
    display: flex;
    flex-wrap: wrap;
}
.TopBoexe{
    width: 90%;
    height: 20vh;
}

.ProvidersContent{
    margin-top: 33rem;
}
.ProvidersBoxes{
    width: 90%;
    height: 20vh;
}
.ProvidersBox{
    flex-wrap: wrap;
}
.PlanContainer{
    height:160vh;
}
.DownloadBox{
    width: 100%;
}
.DownloadContent{
    width: 90%;
    height: 160vh;
    flex-direction: column;
    margin-top: 20rem;
}
.DownloadPhoneIMG{
    width: 80%;
}
.RecentContent{
    margin-top: 38rem;
}
.RecentBox{
    flex-wrap: wrap;
}
.RecentBoxs{
    width: 80%;
    height: 20vh;
}

.PlanLastBTN{
    margin-top: 0.8rem;
}
.PlanLastBTN2{
    margin-top: 1.5rem;
}
.bluePlan label{
    font-size: 1rem;
}
.TextAndOptions h2{
    font-size: 1rem;
}
.checkbox-wrapper-13{
    font-size: 1rem;
}
/* $$ */
}
  
  
  
@media screen and (max-width:481px){
    .HeadersText{
        display: none;
    }
    .FrontSearchBar{
        display: none;
    }
    .RegisterAndLogin{
        display: none;
    }
    .HamBurgerIcon{
        display: flex;
    }
    #HeadingFront h3{
        font-size: 1rem;
    }
    #HeadingFront h1{
        font-size: 3rem;
    }
    #HeadingFront h2{
        font-size: 2.5rem;
    }
    .CircleContent{
        width: 100%;
        height: 100%;
        margin-top:0rem ;
    }
    .CircularImage{
        width: 50%;
        height: 80%;
    }
    .TextsAndButton{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .TextsAndButton button{
        margin-top: 0.5rem;
    }
    .FrontPage{
        height: 110vh;
    }
    .FrontContainer{
        height: 110vh;
    }
    .FeatureContent{
        align-items: center;
        margin-top: 20rem;
    }
    .FeaturedBox{
        display: flex;
        flex-wrap: wrap;
    }
    .FeaturedBoxes{
        width: 100%;
    }
    .FrontTextcontent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .ForntearchContainer{
        margin-top: 7rem;
    }
    .TextsAndButton{
        width: 90%;
    }
    .FrontContent{
        display: flex;
        flex-direction: column;
    }
    .FeaturedContainer{
        margin-top: 10rem;
    }
    .PlanPricingBoxs{
        width: 100%;
        height: 120vh;
        display: flex;
        margin-top:35rem;
        gap: 5rem;
        justify-content: center;
        align-items: center;
        flex-direction: column ;
    }
    .PlanPricingBox{
        width: 80%;
    }
    .PlanContent{
        margin-top: 20rem;
    }
    .DownloadContainer{
        margin-top: 65rem;
    
    }
    .DownloadContent{
        width: 95%;
    
    }
    .PhoneING{
        width: 90%;
        height: 59vh;
    }
    .PartnersContainer{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
    }
    .PartnersContent{
        width: 70%;
        height: 100vh;
        margin-top: 20rem;
       
    }
    
    .PartnerBox{
        width: 60%;
        height: 10vh;
        
    }
    .PartnersIMGs{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .PartnersIMGs{
        width: 100%;
    }
     
    .TextsAndButton{  
         gap: 0rem;
     }
     .TextsAndButton button{
         padding: 0.6rem 1.9rem;
         border: none;
         border-radius: 30px;
         background-color: #f4f4f7;
         transition: all 100ms ease-in 0s;
         color: var(--base-text-clr);
     }
    
     .FooterContainer{
        width: 100%;
        display: flex;
        height: 250vh;
        margin-top: 30rem;
        background-color: #252525;
    }
    .FooterContent{
        width: 100%;
        flex-direction: column;
        height: 250vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .MainContent{
       
        height: 150vh;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    
    }
    
    .AllRight{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 39rem;
    }
    .AllRight p{
        font-size: 0.9rem;
    }
    
    .ServiceContent{
        margin-top: 36rem;
        gap: 2rem;
    }
    .ServiresBox{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    .ServiesBoxes{
        width: 80%;
        height: 20vh;
    }
    .WorksContent{
        margin-top: 25rem;
    }
    .WorksBox{
        flex-wrap: wrap;
    }
    .WorksBoxes{
        width: 70%;
        height: 30vh;
    }
    .TopContainer{
        margin-top: 34rem;
    }
    .TopContent{
        align-items: center;
        text-align: center;
    }
    .TopsBox{
        display: flex;
        flex-wrap: wrap;
    }
    .TopBoexe{
        width: 90%;
        height: 20vh;
    }
    
    .ProvidersContent{
        align-items: center;
        text-align: center;
        margin-top: 33rem;
    }
    .ProvidersBoxes{
        width: 90%;
        height: 20vh;
    }
    .ProvidersBox{
        flex-wrap: wrap;
    }
    .PlanContainer{
        height:160vh;
    }
    .DownloadBox{
        width: 100%;
    }
    .DownloadContent{
        width: 90%;
        height: 160vh;
        flex-direction: column;
        margin-top: 20rem;
    }
    .DownloadPhoneIMG{
        width: 80%;
    }
    .RecentContent{
        margin-top: 40rem;
    }
    .RecentBox{
        flex-wrap: wrap;
    }
    .PlanLastBTN2 {
        margin-top: 1rem;
    }
    .PlanLastBTN {
        margin-top: -0.5rem;
    }
    .RecentBoxs{
        width: 80%;
        height: 20vh;
    }
    .bluePlan label{
        font-size: 1rem;
    }
    .TextAndOptions h2{
        font-size: 1rem;
    }
    .checkbox-wrapper-13 label{
        font-size: 0.9rem;
    }
    .PlaneIMg{
        margin-top: 1rem;
    }
    .DownloadTextAndButton h1{
        font-size: 1rem;
    }
    .DownloadTextAndButton p{
        font-size: 0.5rem;
    }
    .DownloadIMGG{
        width: 70%;
        height: 70%;
    }
    .PhoneING{
        width: 80%;
        height: 50%;
    }
    .ComputerReparingIMh{
        width: 40%;
        height: 40%;
    }
    .ServiceBoxText h2{
        font-size: 1rem;
        margin-top: 0rem;
    }
    .ServiesBoxes{
        height: 40vh;
    }
    .ServiceBoxText2{
        font-size: 0.9rem;
        margin-top: 0rem;
    }
}

@media screen and (max-width:390px){

    .PlanLastBTN2 {
        margin-top: 1rem;
    }
    .PlanLastBTN {
        margin-top: -0.5rem;
    }
    .PlanoneBtn button{
        padding: 0.4rem 0.8rem;
        font-size: 0.8rem;
    }
    .PlanLastBTN button{
        padding: 0.4rem 0.8rem;
        font-size: 0.8rem;
    }
    .PlanLastBTN2 button{
        padding: 0.4rem 0.8rem;
        font-size: 0.8rem;
    }
    .RecentBoxs{
        width: 80%;
        height: 20vh;
    }
    .bluePlan label{
        font-size: 1rem;
    }
    .TextAndOptions h2{
        font-size: 0.7rem;
    }
    .checkbox-wrapper-13 label{
        font-size: 0.5rem;
    }
    .PlaneIMg{
        margin-top: 1rem;
    }
    .DownloadTextAndButton h1{
        font-size: 1rem;
    }
    .DownloadTextAndButton p{
        font-size: 0.5rem;
    }
    .DownloadIMGG{
        width: 70%;
        height: 70%;
    }
    .PhoneING{
        width: 80%;
        height: 50%;
    }
    .ComputerReparingIMh{
        width: 40%;
        height: 40%;
    }
    .ServiceBoxText h2{
        font-size: 1rem;
        margin-top: 0rem;
    }
    .ServiesBoxes{
        height: 40vh;
    }
    .ServiceBoxText2{
        font-size: 0.9rem;
        margin-top: 0rem;
    }
    .AllRight p{
        font-size: 0.8rem;
    }



}